<h1>Listing messages</h1>

<table>
  <tr>
    <th>mesage</th>
    <th>controls</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= image_tag message.image_url %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', card_message_path(params[:card_id], message.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_card_message_path %>
